.main{
    border: 1px solid black;
    margin: 3px;
}

span{
    padding: 5px;
    margin-left: 10px;
    color: black;
    font-size: 30px;
}

span.ft{
    color: white;
}

div{
    display: flex;
    height: 600px;
    min-width: 500px;
}

body > header{
    background-color: pink;    
}

header.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > footer{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

div > aside{
    width: 150px;
    background-color: #739fb7;
}

div > main{
    width: 100%;
    background-color: #e3d76d;
}

ul.hd li{
    display: inline;
    margin-right: 10px;
}

main.main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
main > p{
    margin: 20px;
    text-align: center;
}
main > h2 {
    width: 100%;
    text-align: center;
}